body {
	max-width: 1080px;
	margin: 0px auto;
	font-family: Arial;
	font-size: 15px;
}

/* table */

table {
	border-collapse: collapse;
	margin: 0px auto;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 4px solid blue;
}

td {
	border: 1px solid black;
	width: 40px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
}

#table-date tbody img {
	width: 13px;
	height: 13px;
}

#table-date tbody tr:nth-child(2n+1) td:nth-child(2n+1) {
	border-right: 2px solid purple;
}

#table-date tbody tr:nth-child(2n) td:nth-child(2n) {
	border-right: 2px solid purple;
}

#table-date tbody tr:nth-child(2n+1) td {
	border-top: 3px solid purple;
}

/*write date*/

#write-date {
	margin: 0 auto;
	min-width: 850px;
	max-width: 850px;
	background: rgb(255,255,255);
}

#write-date p {
	display: inline-block;
	width: 16.2%;
	padding-left: 7%;
}

#table-input {
	display: inline-block;
	width: 780px;
	float: left;
}

#table-input input {
	display: inline-block;
	width: 7.58%;
	height: 20px;
	border: 1px solid black;
	margin:1px;
}

/* button */

#but-del-row{
	background-color: rgb(255,255,255);
	width: 50px;
	height: 50px;
	margin-right: 20px;
	outline: none;
	border-radius: 20%;
	position: absolute;
}
#but-del-row:hover{
	background-color: rgb(255,0,0);
}

#but-add-row{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	border: 0px;
	background-color: #323bc7;
	box-shadow: 2px 3px 10px #444;
	border-radius: 20%;
	outline: none;
	float: left;
}

#but-add-row:active{
	background: rgb(19,249,213);
	box-shadow: inset 1px 1px 3px #000;
}

#but-add-row:hover{
	background-color: #1523EB;
}

#but-save-table {
	display: inline-block;
}

#but-download {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	background: #000;
	box-shadow: 2px 3px 10px #444;
	border-radius: 20%;
	float: left;
}

#but-download:hover {
	background: #aaa;
}

#but-download:active {
	background: rgb(19,249,213);
	box-shadow: inset 1px 1px 3px #000;
}

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}